.dev_container {
    position: absolute;
    bottom: 0;
    left: 5%;
    padding: 5px 10px;
    border-radius: 10px;
 background-color:#a3a3a3;
}

.dev_warpper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 50;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
#dev_button {
    display: block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 49;
}
